.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    flex: auto;
    background-color: #1f2937;
}

.img {
    height: 80px;
    width: 80px;
    display: flex;
}

.button {
    display: flex;
}

.container {
    display: flex;
}